@media(max-width: 1280px) {

    .home {
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
    }

    .home .informacoes {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .projetos .container-projetos {
        padding: 0 30px;
    }
}

@media(max-width: 425px) {

    .home .informacoes h1 {
        font-size: 30px;
    }

    .home .informacoes p {
        font-size: 16px;
    }

    /* .home .container-foto img {
        width: 260px;
        height: 260px;
        width: 100%;
        border-radius: 50%;
    } */

    .container-foto {
        padding: 1rem;
    }

    .home .container-foto img {
        width: 70%;
        height: auto;
        border-radius: 50%;
    }

    /* .container-projetos {
        padding: 5px;
        width: 360px;
        height: 150px;
    } */
}
